<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysm.goods.mapper.VoucherMapper">

    <resultMap id="BaseResultMap" type="com.ysm.item.po.Voucher">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
            <result property="payValue" column="pay_value" jdbcType="BIGINT"/>
            <result property="actualPrice" column="actual_price" jdbcType="BIGINT"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="voucherStatus" column="voucher_status" jdbcType="TINYINT"/>
            <result property="deadline" column="deadline" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

<!--    <sql id="Base_Column_List">-->
<!--        id,type,name,-->
<!--        title,detail,pay_value,-->
<!--        actual_price,stock,voucher_status,-->
<!--        deadline,created_at,updated_at,-->
<!--        deleted-->
<!--    </sql>-->
</mapper>
